.foto-perfil{
    height: 80%;
    width: auto;
    max-width: 80%;
    border-radius: 50%;
}
.corPrimaria{
    background-color: steelblue;
}
.corSecundaria{
    background-color: #2c3e50;
}
p{
    font-family: Lato, 'Helvetica Neve', Helvetica, Arial, sans-serif;
    color: black !important;
}
.icones{
    padding-left: 5px;
}
.titulosBrancos{
    text-decoration: underline;     
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
.titulosVerdes{
    text-decoration: underline;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: steelblue;
}
.textoBranco{
    color: white !important;
}
.jumbotron{
  margin-bottom: 0px;
}
.textoFooter{
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
html{
  scroll-behavior: smooth;
}